workflows/_router.json
{
  "name": "_router",
  "active": false,
  "nodes": [
    {
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {
        "updates": ["message"]
      },
      "credentials": {
        "telegramApi": {
          "id": "",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "id": "validate-chat-id",
      "name": "Validate & Normalize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst chatId = item.message?.chat?.id?.toString();\nif (chatId !== process.env.ALLOWED_CHAT_ID) return [];\nconst text = (item.message?.text ?? '').toLowerCase().trim();\nreturn [{ json: { ...item, text } }];"
      }
    },
    {
      "id": "switch-router",
      "name": "Route",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "$",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "tiller"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "cal",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "calendar"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "gh",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "github"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "news",
                    "operator": { "type": "string", "operation": "startsWith" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "news"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false },
                "conditions": [
                  {
                    "leftValue": "={{ $json.text }}",
                    "rightValue": "status",
                    "operator": { "type": "string", "operation": "equals" }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "status"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      }
    },
    {
      "id": "stub-tiller",
      "name": "Stub: tiller",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 100],
      "parameters": {}
    },
    {
      "id": "stub-calendar",
      "name": "Stub: calendar",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 200],
      "parameters": {}
    },
    {
      "id": "stub-github",
      "name": "Stub: github",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 300],
      "parameters": {}
    },
    {
      "id": "stub-news",
      "name": "Stub: news",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 400],
      "parameters": {}
    },
    {
      "id": "exec-status",
      "name": "Execute: status",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [900, 500],
      "parameters": {
        "source": "database",
        "workflowId": ""
      }
    },
    {
      "id": "stub-gmail",
      "name": "Stub: gmail",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [900, 600],
      "parameters": {}
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Validate & Normalize", "type": "main", "index": 0 }]
      ]
    },
    "Validate & Normalize": {
      "main": [
        [{ "node": "Route", "type": "main", "index": 0 }]
      ]
    },
    "Route": {
      "main": [
        [{ "node": "Stub: tiller", "type": "main", "index": 0 }],
        [{ "node": "Stub: calendar", "type": "main", "index": 0 }],
        [{ "node": "Stub: github", "type": "main", "index": 0 }],
        [{ "node": "Stub: news", "type": "main", "index": 0 }],
        [{ "node": "Execute: status", "type": "main", "index": 0 }],
        [{ "node": "Stub: gmail", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
